<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edycja Węzła</title>
</head>
<body>
    <h1>Edycja Węzła</h1>
    <form action="{{ url_for('edit_node', node_id=node['id']) }}" method="post">
        <label for="name">Imię i nazwisko:</label>
        <input type="text" id="name" name="name" value="{{ node['label'] }}" required>
        
        <label for="phone">Numer telefonu:</label>
        <input type="text" id="phone" name="phone" value="{{ node['phone'] }}" required>
        
        <label for="tags">Hashtagi (grupy, oddzielone spacjami):</label>
        <input type="text" id="tags" name="tags" value="{{ ' '.join(node['group']) }}" required>
        
        <button type="submit">Zapisz zmiany</button>
    </form>
    
    </form>
    <a href="{{ url_for('index') }}">Powrót do głównej strony</a>
</body>
</html>
