<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edit Node</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include "header.html" %}

    <section class="edit-section">
        <form action="{{ url_for('edit_node', node_id=node['id']) }}" method="post">
            <input type="text" name="name" placeholder="imię i nazwisko" value="{{ node['label'] }}" required>
            <input type="text" name="phone" placeholder="numer telefonu" value="{{ node['phone'] }}" required>
            <input type="text" name="tags" placeholder="hasztagi (grupy oddzielone spacjami)" value="{{ ' '.join(node['group']) }}" required>
            <button type="submit">ZAPISZ</button>
        </form>
    </section>
</body>
</html>
